def environments = [
    test:
        [
            repo_name: 'tst',
            require_confirmation: false
        ],
    stage:
        [
            repo_name: 'stg',
            require_confirmation: false
        ],
]

def deployData = [
    test:       [user: 'testuser', host: 'testhost', path: 'testpath'],
    acceptance: [user: 'accuser', host: 'acchost', path: 'accpath'],
    production: [user: 'produser', host: 'prodhost', path: 'prodpath']
]

def config = [
    project_name: 'foo',
    environments: environments,
    deployData: deployData
]
return config