def config = [
    project_name: 'foo',
    deployData = [test:       [user: 'testuser',
                               host: 'testhost',
                               path: 'testpath'],
                  acceptance: [user: 'accuser',
                               host: 'acchost',
                               path: 'accpath'],
                  production: [user: 'produser',
                               host: 'prodhost',
                               path: 'prodpath']]
]

return config